@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400&family=Assistant:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html {
  background-color: hsl(130, 46%, 95%);
}

.App {
  text-align: center;
  background-color: hsl(130, 46%, 95%);
}

h1 {
  font-family: 'Poiret One';
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}

h3 {
  font-family: 'Assistant', sans-serif;
  font-weight: 200;
}

.navbar {
  background-color: hsl(33, 69%, 95%);
  /* background-image: url('https://i.imgur.com/SuXeqqE.png'); */
  background-attachment: fixed;
  border: .5px solid hsl(345, 42%, 50%);
}


.jumbotron {
  margin-top: 3rem;
  background: hsl(235, 27%, 92%) !important;
  padding-bottom: 1rem !important;
}

@media screen and (max-width: 850px) {
  .card {
    width: 8rem !important;
  }

  .boardTitle {
    font-size: 1rem;
  }

  .card-title {
    font-size: 1rem !important;
  }
}


@media screen and (max-width: 590px) {
  .card {
    width: 4.85rem !important;
  }

  .welcome-banner {
    width: 55% !important;
  }

  .jumbo-text {
    font-size: .95rem;
    max-width: 60% !important;
  }

  .boardTitle {
    font-size: .75rem;
    margin-bottom: .5rem !important;
  }

  .card-title,
  .card-footer,
  .card-header,
  .card-text,
  .card-body {
    font-size: .75rem !important;
    padding: 2px !important;
  }

  .view-pg {
    font-size: .85rem !important;
  }

  .view-headers {
    font-size: 1rem !important;
  }

}

@media screen and (max-width: 350px) {
  .jumbo-header {
    font-size: 2rem;
  }

}

.login-cta {
  margin-top: .75rem;
}

.modal-body {
  font-family: "Assistant";
  font-weight: 300;
}

.errorMessage {
  font-style: italic;
}

.jumbo-header {
  padding-top: .5rem;
  padding-bottom: 1rem;
}

.jumbo-text {
  font-family: 'Assistant';
  font-weight: 300;
  margin: 0 auto;
  padding-bottom: 1rem;
  max-width: 40%;
}

.btn-new-job {
  background-color: hsl(0, 100%, 79%) !important;
  box-shadow: 1px 1px 1px hsl(351, 32%, 92%) !important;
  border-color: hsl(33, 69%, 95%) !important;
  margin-left: 1rem;
}


.navbar-text {
  font-family: 'Assistant';
  font-weight: 200;
}

.welcome-banner {
  background-color: hsl(345, 80%, 92%);
  box-shadow: 5px 5px 5px hsl(120, 4%, 95%) !important;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 990px) {
  .welcome-banner {
    width: 30%;
    margin: 0 auto;
  }

  .btn-new-job {
    margin-left: 0;
  }

  .LogoutBtn {
    margin-left: 0 !important;
  }

}

.LoginBtn,
.LogoutBtn,
.RegisterBtn {
  margin-left: 6px;
  background-color: hsl(337, 80%, 46%) !important;
  border-color: hsl(33, 69%, 95%) !important;
}


.nav-item.nav-link {
  font-family: 'Assistant';
  font-weight: 100;
}

.view-pg {
  background-color: hsl(228, 60%, 95%);
  border: 2px solid lightgray;
  border-radius: 5px;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.notes {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: justify;
}


.view-headers {
  font-family: 'Assistant';
}

.boardTitle {
  margin-bottom: 2rem;
}

.card-header,
.card-footer,
.card-title {
  font-family: 'Assistant', sans-serif;
  font-weight: 500;
  font-style: italic;
}


.location-footer {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 300;
}